
3.2.1/3.2.1.synctex.gz
3.2.1/.DS_Store
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
3.2.1/pics/RC-eps-converted-to.pdf
3.2.1/pics/RL-eps-converted-to.pdf
3.2.1/pics/RLC-eps-converted-to.pdf
*.gz
*.xlsx
3.1.3/pics/Mn-eps-converted-to.pdf
3.1.3/pics/Tn-eps-converted-to.pdf
3.2.2/pics/LrL-eps-converted-to.pdf
3.4.5/pics/ferr-eps-converted-to.pdf
3.4.5/pics/perm-eps-converted-to.pdf
3.4.5/pics/sife-eps-converted-to.pdf
